<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %> 
<body>
    <%- include("../partials/header") %>
    <main id="detail">
        <article id="product-detail">
            <span id="circle"></span>
                <h1>Camisa</h1>
            <figure>
                <img src="/assets/img/Camisa 1.jpg" alt="" />
            </figure>
            <section id="info">
                <h2>Camisa</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque id perspiciatis, error aliquid ipsum quae, eveniet placeat qui nemo magni sequi ratione. Illo incidunt optio sequi qui officia porro dolorum.</p>
                <section id="icons">
                    <i class="fas fa-dollar-sign"></i>
                    <i class="fas fa-shopping-cart"></i>
                    <h3>3000</h3>
                </section>
            </section>
        </article>
    </main>
    <%- include("../partials/footer") %>
    <script src="/js/styles.js"></script>
</body>
</html>