*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
:root{
    /* TIPEGRAFY */
    --anton: 'Anton', sans-serif;
    --karla: 'Karla', sans-serif;

    /* COLORS */

    --primary-color: #ff5403;
    --secundary-color: #2a496b;
    --white: #ffff;
    --green: #21bc56;
    --black: #1d1d1d;
    --pink: #ff91c6;
    --blue: #008fff;
    --yellow: #fff770;
}
body::-webkit-scrollbar{
    width: .6rem;
    background-color: transparent;
  }
  body::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
    border-radius: 1rem;
  }