main#contact{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding-top: 10vh;
}
main#contact article{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .2);
    margin: 1rem 0;
}
main#contact article figure{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
main#contact article figure img{
    width: 100%;
    max-height: 70vh;
}
main#contact article figure h1{
    position: absolute;
    font-family: var(--anton);
    color: var(--white);
    font-size: 1.3;
    text-shadow: 0 .2rem .3rem rgba(0, 0, 0, .3);
}
main#contact article form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 1rem;
}
main#contact article form label{
    width: 80%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--primary-color);
    margin: 1rem 0;
    padding: .5rem;
}
main#contact article form label p{
    position: absolute;
    left: 15%;
    pointer-events: none;
    color: var(--primary-color);
    font-family: var(--karla);
    pointer-events: none;
    transition: all .5s ease-in-out;
}
main#contact article form label.complete p,
main#contact article form label input:focus + p{
    transform: translateY(-1.5rem);
}
main#contact article form label input{
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: var(--karla);
}
main#contact article form label i{
    width: 10%;
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    outline: none;
}
main#contact article form textarea{
    width: 100%;
    height: 25vh;
    padding: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    font-family: var(--karla);
    outline: none;
    border: none;
    resize: none;
}
main#contact article form section#buttonMessage{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
main#contact article form section#buttonMessage button{
    width: 30%;
    padding: .5rem;
    border: 1px solid var(--primary-color);
    border-radius: .5rem;
    background-color: var(--primary-color);
    color: var(--white);
    font-family: var(--karla);
    cursor: pointer;
    transition: all .5s ease-in-out;
}
main#contact article form section#buttonMessage button:hover{
    background-color: transparent;
    color: var(--primary-color);
}
@media screen and (min-width: 768px) {
    main#contact article{
        justify-content: space-between;
    }
    main#contact article figure{
        width: 50%;
    }
    main#contact article form{
        width: 50%;
    }
}