<footer>
    <section id="redes">
        <a href="https://www.linkedin.com/in/roman-borla-564843217/"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.instagram.com/iamroman_ok/?hl=es"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100011758269741"><i class="fab fa-facebook"></i></a>
        <a href="https://github.com/IamRoman-rb"><i class="fab fa-github"></i></a>
    </section>
    <section  id="paymentMethods">
        <i class="fab fa-cc-paypal"></i>
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-bitcoin"></i>
    </section> 
    <section id="coments">
        <form action="">
            <label for="">
                <input type="text" placeholder="Comment"><button type="button"><i class="fas fa-sign-in-alt"></i></button>
            </label>
        </form>
    </section>
    <h1><span> <i class="far fa-copyright"></i> Beach Flow</span> we do the rights</h1>
</footer>