<header class="header">
    <a href="/" id="logo"><img src="/assets/img/logo.png" alt=""></a>
    <nav>
        <ul id="links">
            <li><a href="/register">Sing-up</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="">About Us</a></li>
            <button type="button" class="cancel-button"><i class="fas fa-times"></i></button>
        </ul>
    </nav>
    <button type="button" class="burguer-menu"><i class="fas fa-bars"></i></button>
</header>