<!DOCTYPE html>
<html lang="en"> 
    <%- include("../partials/head") %> 
<body>
    <%- include("../partials/header") %>
    <main id="login">
        <section id="section-login">
            <article>
                <figure>
                    <img src="/assets/img/img-log-in.jpg" alt="">
                </figure>
                <h1>LOG-IN</h1>
            </article>
            <form action="">
                <label>
                    <i class="fas fa-user"></i><input type="text" class="input-float"></input><p class="placeholder">Name And Subname</p><span></span>
                </label>
                <label> 
                    <i class="fas fa-envelope"></i><input type="email" class="input-float"></input><p class="placeholder">Email</p><span></span>
                </label>
                <label>
                    <i class="fas fa-lock"></i><input type="password" class="password input-float"></input><p class="placeholder">Password</p><button type="button" class="btn-eye"><i class="fas fa-eye"></i></button>
                </label>
                <section id="button-login">
                    <button type="submit">LOG-IN</button>
                </section>
            </form>
        </section>
        <h2>If you don´t have an account <a href="/register">sing up</a></h2>
    </main>
    <%- include("../partials/footer") %>
    <script src="/js/styles.js"></script>
</body>
</html>